#content > .title {
    font-size: 1.75em;
    color: white;
    padding: 0 10px;
}

#content > .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#content > .container > .card {
    background-color: #404040;
    width: calc(100% - 20px);
    min-height: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    opacity: 1;
}

#content > .container > .card > .title {
    font-size: 1.1em;
    color: white;
}

#content > .container > .card.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content > .container > .card.avatar > input[type="button"] {
    background-color: #404040;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

#content > .container > .card.email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content > .container > .card.email > .content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#content > .container > .card.email > .content > input[type="email"] {
    background-color: #404040;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    min-width: 200px;
    max-width: 300px;
}

#content > .container > .card.email > .content > input[type="button"] {
    background-color: #404040;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}
