#navigation {
    background-color: #333;
    color: white;
    width: 1000px;
    height: 80px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: grid;
    grid-template-columns: 10px 80px auto 250px 10px;
    border-radius: 0 0 5px 5px;
    opacity: 0.7;
}

#navigation > .nav-icon {
    grid-column: 2 / 3;
    position: relative;
}

#navigation > .nav-icon > img {
    height: 70px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation > .nav-menu {
    grid-column: 3 / 4;
    position: relative;
}

#navigation > .nav-menu > ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

#navigation > .nav-menu > ul > li {
    list-style: none;
}

#navigation > .nav-menu > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#navigation > .nav-action {
    grid-column: 4 / 5;
    position: relative;
}

#navigation> .nav-action > .auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#navigation> .nav-action > .auth > a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#navigation > .nav-action > .auth > .login {
    border: 1px solid #ED7F10;
    border-radius: 5px;
}

#navigation > .nav-action > .auth > .register {
    background-color: #ED7F10;
    border-radius: 5px;
}

#navigation > .nav-action > .menu-icon {
    display: none;
    background: transparent;
    border: none;
}

#navigation > .nav-action > .menu-icon:hover {
    cursor: pointer;
    scale: 1.05;
}

@media screen and (max-width: 1000px) {
    #navigation {
        width: 100%;
        border-radius: 0;
    }

}

@media screen and (max-width: 768px) {
    #navigation {
        grid-template-columns: 10px 80px auto 80px 10px;
    }

    #navigation > .nav-menu > ul {
        display: none;
    }

    #navigation> .nav-action > .auth {
        display: none;
    }

    #navigation > .nav-action > .menu-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}