#navigation {
    background-color: #333;
    color: white;
    width: 1000px;
    height: 80px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: grid;
    grid-template-columns: 10px 80px auto 300px 10px;
    border-radius: 0 0 5px 5px;
    opacity: 0.95;
    z-index: 9999;
}

#navigation > .nav-icon {
    grid-column: 2 / 3;
    position: relative;
}

#navigation > .nav-icon > img {
    height: 70px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navigation > .nav-menu {
    grid-column: 3 / 4;
    position: relative;
}

#navigation > .nav-menu > ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
}

#navigation > .nav-menu > ul > li {
    list-style: none;
}

#navigation > .nav-menu > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#navigation > .nav-action {
    grid-column: 4 / 5;
    position: relative;
}

#navigation> .nav-action > .auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: white;
}

#navigation> .nav-action > .auth:hover {
    cursor: pointer;
    scale: 1.005;
}

#navigation> .nav-action > .auth > div {
    white-space: nowrap;
    color: black;
}

#navigation> .nav-action > .auth > img {
    height: 30px;
    width: auto;
    filter: invert(100%);
}

#navigation> .nav-action > .auth > a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}

#navigation > .nav-action > .auth > .login {
    border: 1px solid #ED7F10;
    border-radius: 5px;
}

#navigation > .nav-action > .auth > .register {
    background-color: #ED7F10;
    border-radius: 5px;
}

#navigation > .nav-action > .menu-icon {
    display: none;
    background: transparent;
    border: none;
}

#navigation > .nav-action > .menu-icon:hover {
    cursor: pointer;
    scale: 1.05;
}

#navigation > .nav-action > .profile > .token > img {
    height: 30px;
    width: auto;
}

#navigation > .nav-action > .profile > .token > span {
    align-content: center;
}

#navigation > .nav-action > .profile > .token {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#navigation > .nav-action > .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#navigation > .nav-action > .profile > .picture {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
}

#navigation > .nav-action > .profile > .picture > img {
    height: 100%;
    width: auto;
}

#navigation > .nav-action > .profile > .picture:hover {
    cursor: pointer;
}

#navigation > .nav-action > .profile > .picture:hover > .dropdown-navigation {
    display: block;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation {
    display: none;
    position: absolute;
    top: 55px;
    right: -20px;
    z-index: 100;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation > div {
    margin-top: 20px;
    min-width: 70px;
    min-height: 100px;
    padding: 10px;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    color: #333;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation > div > h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation > div > ul {
    padding: 0;
    margin: 0;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation > div > ul > li {
    padding: 5px 0;
    list-style-type: none;
}

#navigation > .nav-action > .profile > .picture > .dropdown-navigation > div > ul > li > a {
    color: #333;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    #navigation {
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    #navigation {
        grid-template-columns: 10px 80px auto 80px 10px;
    }

    #navigation > .nav-menu > ul {
        display: none;
    }

    #navigation> .nav-action > .auth {
        display: none;
    }

    #navigation > .nav-action > .menu-icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #navigation > .nav-action > .profile > .picture {
        display: none;
    }

    #navigation > .nav-action > .profile > .token {
        margin-right: 70px;
    }
}