#content > .header > form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#content > .header > form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

#content > .header > form > div > .search-label {
    font-size: 13px;
    color: #999999;
}

#content > .header > form > div > .search-input:focus {
    outline: none;
}

#content > .header > form > div > .search-input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 0 5px;
    background-color: #404040;
    color: #999999;
}

#content > .header > form > div > .search-input[type="text"] {
    width: calc(100% - 10px);
    height: 28px;
}

#content > .header > form > div > .search-input[type="text"]::placeholder {
    color: #999999;
}

#content > .matches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

#content > .matches > .match {
    grid-column: auto;
    height: 100px;
    background-color: #404040;
    border-radius: 5px;
    padding: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#content > .matches > .match:hover {
    scale: 1.03;
}

#content > .matches > .match > .match-banner {
    width: 100%;
    height: 80%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
}

#content > .matches > .match > .match-banner > .match-hours {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #404040;
    color: #999999;
    padding: 5px;
    border-radius: 0 0 0 5px;
    font-size: 10px;
}

#content > .matches > .match > .match-infos {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#content > .matches > .match > .match-infos > .match-title {
    font-size: 15px;
    color: #999999;
}

#content > .matches > .match > .match-infos > .match-token {
    font-size: 15px;
    color: #999999;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#content > .matches > .match > .match-infos > .match-token > img {
    height: 20px;
    width: auto;
}

#content > .footer {
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 10px;
}

#content > .footer > .paging {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#content > .footer > .paging > span {
    font-size: 15px;
    color: #999999;
    display: flex;
    align-items: center;
}

#content > .footer > .paging > button:focus {
    outline: none;
}

#content > .footer > .paging > button {
    height: 25px;
    width: 25px;
    background: transparent;
    border: none;
}

#content > .footer > .paging > button > img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 800px) {
    #content > .matches {
        grid-template-columns: repeat(3, 1fr);
    }

    #content > .matches > .match {
        grid-column: auto / span 1;
    }
}

@media screen and (max-width: 600px) {
    #content > .matches {
        grid-template-columns: repeat(2, 1fr);
    }

    #content > .matches > .match {
        grid-column: auto / span 1;
    }
}

@media screen and (max-width: 400px) {
    #content > .matches {
        grid-template-columns: repeat(1, 1fr);
    }

    #content > .matches > .match {
        grid-column: auto / span 1;
    }
}
